* {
	margin: 0;
	outline: 0;
	padding: 0;
	 -webkit-font-smoothing: antialiased;
	font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
html,body{
	width: 100%;
	height: 100%;
}
.wrapper{
	width: 100%;
    margin: 0 auto;
    min-width: 1200px;
}
.banner{
	width: 100%;
	height: 420px;
	background: url(../img/banner.jpg) no-repeat center center;
	background-size:cover;
	color: #ffffff;
}
.banner >div{
	width: 1140px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding-left: 68px;
}
.banner h2{
	display: inline-block;
	margin-bottom: 10px;
	font-size: 40px;
	margin-top: 85px;
}
.banner p{
	margin-top: 15px;
	font-size: 13px;
	line-height: 23px;
	padding-left: 16px;
	background: url(../img/dot.png) no-repeat left 10px;
	background-size: 6px;
}
.banner a{
	width: 160px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background: #ffaa3c;
	color:#ffffff;
	margin-top: 45px;
	display: inline-block;
	border-radius: 4px;
}
.container{
	width: 1155px;
	height: 716px;
	margin: 0 auto;
	overflow: hidden;
}
.container .top{
	width: 100%;
	text-align: center;
	margin-top: 55px;
}
.container .top p{
	width: 100%;
	text-align: center;
	font-size: 30px;
}
.container .top img{
	width: 90px;
	height: 1px;
	display: inline-block;
	margin-top: 20px;
}
.container .project{
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
.container .project >div{
	width: 355px;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
	height: 270px;
	display: inline-block;
	margin: 0 15px;
	border-radius: 6px;
	overflow: hidden;
}
.container .project >div dl{
	width: 315px;
	margin: 20px auto 0;
}
.container .project >div dt{
	width: 315px;
	height: 190px;
	border:1px solid #f5f5f5; 
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.container .project >div dt img{
	width: 276px;
	height: auto;
}
.container .project >div dd {
	text-align: left;
}
.container .project >div dd a{
	font-size: 14px;
	display: inline-block;
	margin-top: 22px;
	color: #444444;
	text-align: left;
}
.container .more{
	text-align: center;
}
.container .more a{
	width: 315px;
	height: 45px;
	margin-top: 120px;
	line-height: 45px;
	text-align: center;
	display: inline-block;
	border-radius: 4px;
	border:1px solid #ffaa3c;
	color: #ffaa3c; 
}
/*------------------------------详情------------------------------*/
.detail_banner{
	width:100%;
	height: 200px;
	background: #1d79da;
	color: #ffffff;
}
.detail_banner p{
	font-size: 38px;
	width: 100%;
	text-align: center;
	height: 200px;
	line-height:200px;
}
.content{
	width: 1000px;
	margin: 0 auto;
}
.content .top{
	width: 100%;
	text-align: center;
	margin-top: 55px;
}
.content .top p{
	width: 100%;
	text-align: center;
	font-size: 30px;
}
.content .top img{
	width: 90px;
	height: 1px;
	display: inline-block;
	margin-top: 20px;
}
.resolve{
	width: 100%;
	text-align: center;
}
.resolve .pic1 img{
	width: 401px;
	margin-top: 55px;
	height: auto;
}
.resolve .pic3 img{
	width: 932px;
	height: auto;
	margin-top: 45px;
}
.resolve .pic2 img{
	width: 428px;
	height: auto;
	margin-top: 60px;
}
.resolve .p1{
	font-size: 600;
	font-size: 14px;
	color: #333333;
	margin-top: 45px;
}
.resolve .p2{
	font-size: 14px;
	color: #333333;
	margin-top: 30px;
	margin-bottom: 120px;
}
.business .pic1 img{
	width: 910px;
	height: auto;
	margin-top: 45px;
}
.business .p1{
	margin-top: 35px;
	margin-bottom: 100px;
}
.product{
	width: 100%;
	height: 501px;
}
.product .pic1 img{
	width: 864px;
	height: auto;
	margin-top: 45px;
}
.product ul{
	width: 100%;
}
.product ul li{
	width:30%;
	float: left;
	text-align: center;
}
.product ul li h2{
	width:130px;
	height: 30px;
	line-height: 30px;
	color: #ffffff;
	margin-bottom: 18px;
	display: inline-block;
	border-radius: 4px;
	text-align: center;
}
.product ul li:nth-child(1) h2{
	background: #8963a4;
}
.product ul li:nth-child(2) h2{
	background: #37a453;
}
.product ul li:nth-child(3) h2{
	background: #b98c16;
}
.product ul li p{
	color:#33333 ;
	font-size: 14px;
	line-height: 24px;
}
.product ul li:nth-child(1){
	margin-left: 8px;
}
.product ul li:nth-child(2){
	margin-left: 23px;
}
.product ul li:nth-child(3){
	margin-left: 44px;
}
.team{
	width: 100%;
	height: 500px;
}
.team .tutor{
	width: 100%;
	margin-top: 70px;
}
.team .tutor dl{
	width: 25%;
	float: left;
	color: #333333;
	text-align: left;
}
.team .tutor dt img{
	height: 108px;
	width: auto; 
}
.team .tutor h2{
	font-size: 14px;
	margin-top: 15px;
	font-weight: 600;
}
.team .tutor span{
	font-size: 12px;
	display: inline-block;
	margin-top: 8px;
}
.team .tutor p{
	font-size: 13px;
	margin-top: 25px;
	line-height: 25px;
}
.video video{
	margin-top: 50px;
	width: 800px;
	height: 458px;
	margin-bottom: 50px;
}
a{
	text-decoration:none;
}